[Unit]
Description=amplihouse
After=network.target

[Service]
User=www-data
WorkingDirectory=/opt/amplihouse
ExecStart=/usr/bin/php index.php start

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
